<%- include('../partials/header') %>

<h1>All Recipes</h1>

<table>
    <thead>
      <tr>
        <th>Title</th>
        <th>Ingredients</th>
        <th>Steps</th>
        <th>Leave A Review</th>
        <th>Update Recipe</th>
      </tr>
    </thead>
    <tbody>
        <% recipes.forEach(function(r) { %> 
            <tr>
                <td><%= r.title %></td>
                <td><%= r.ingredients.join(', ') %></td>
                <td><%= r.steps.join(', ') %></td>
                <td><a href="/recipes/show">Reviews</a></td>
                <td><a href="/recipes/update">Update Recipe</a></td>
              </tr>
        <% }); %>
    </tbody>
</table>
<a href="/recipes/new">Add Recipe</a>
  
<%- include('../partials/footer') %>
